/* Home page catalogue */
#exploreCatalogue {
    text-align: center;
    padding: 65px 0 120px;
    overflow: hidden;
    position: relative;
    h2 {
        margin: 0 0 20px;
    }
    .tabWrap {
        ul {
            margin: 0 0 80px;
        }
    }
    .post {
        float: left;
        margin: 0 0 30px;
        div {
            top: 40px;
        }
        &:hover {
            div {
                top: 0;
            }
        }
    }
    .cat1 {
        height: 360px;
        width: 100% !important;
    }
    .slideShowControls {
        width: 100%;
        position: absolute;
        top: 375px;
        left: 0;
        z-index: 10000;
        font-size: 30px;
        a {
            width: 43px;
            height: 76px;
            background: rgba(255, 255, 255, 0.6);
            line-height: 76px;
            text-align: center;
            color: $codGray;
            &:first-child {
                float: left;
            }
            &:last-child {
                float: right;
            }
        }
    }
}

// breadCrumbs //
#breadCrumbs {
    background: $alabaster;
    border-top: 1px solid $gallery;
    line-height: 52px;
    margin-bottom: 73px;
    .container {
        color: $crimson;
        font-size: 15px;
        width: 1233px;
    }
    a {
        font-size: 15px;
        color: $silver;
        text-decoration: none;
        padding: 0 8px 0 0px;
        &:hover {
            color: $black;
        }
    }
}

// Catalogue
#catalogue {
    text-align: center;
    .container {
        width: 1300px;
    }
    .post {
        display: inline-block;
        margin: 0 15px 80px;
    }
    .tabWrap {
        ul {
            margin: 0 0 100px;
        }
    }
}

// contentCatalogue //
#contentCatalogue {

}
