

#productDetail {
    margin-bottom: 40px;
    .productTab{
        
        li {
            background: $white;
            border:2px solid $alto;
            padding:15px 40px;
            position: relative;
            margin-bottom: 10px;
            &:before {
                content: counter(li) ". ";
                color: $black;
                left: 18px;
                top: 16px;
                position: absolute;
            }
            .productContent{
                display: none;
                padding: 25px 0 0;
                
            }
            &.activePro:after {
                content: '\f106';
                font-family: FontAwesome;
                position: absolute;
                right: 22px;
                
            }
             &:after {
                        content: '\f107';
                        font-family: FontAwesome;
                        position: absolute;
                        right: 22px;
                    
                }
        }
    }
}