/* Home page catalogue */
#exploreCatalogue {
    text-align: center;
    padding: 65px 0 120px;
    overflow: hidden;
    h2 {
        margin: 0 0 20px;
    }
    .tabWrap {
        ul {
            margin: 0 0 125px;
        }
    }
    .post {
        float: left;
    }
}