/* Home page catalogue */
#exploreCatalogue {
    text-align: center;
    padding: 65px 0 120px;
    overflow: hidden;
    h2 {
        margin: 0 0 20px;
    }
    .tabWrap {
        ul {
            margin: 0 0 80px;
        }
    }
    .post {
        float: left;
        padding: 40px 0 0;
        margin: 0 0 30px;
    }
    .cat1 {
        height: 360px;
        width: 100% !important;
    }
    .slideShowControls {
        width: 100%;
    }
}

// breadCrumbs //
#breadCrumbs{
    background: $alabaster;
    border-top: 1px solid $gallery;
    line-height: 52px;
    margin-bottom: 73px;
    .container{
        color: $crimson;
        font-size: 15px;
        width: 1233px;
    }
    a{
        font-size: 15px;
        color: $silver;
        text-decoration: none;
        padding: 0 8px 0 0px;
        &:hover{
            color: $black;
        }
    }
}

// Catalogue
#catalogue {
    h2 {
        text-align: center;
    }
}

// contentCatalogue //
#contentCatalogue{

}
