/* ======= FOOTER ======= */
#upperFooter {
    background: $black;
    padding: 53px 0 90px 0;
    overflow: hidden;
    .upperFooterLeft {
        width: 350px;
        display: inline-block;
        float: left;
        img {
            width: 122px;
            height: 63px;
            margin-bottom: 29px;
        }
        p {
            color: $dustyGray;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 35px;
            width: 300px;
        }
        .likePage {
            font-size: 15px;
            color: $dustyGray;

            .fa-facebook {
                color: $black;
                background: $dustyGray;
                width: 24px;
                text-align: center;
                line-height: 24px;
                font-size: 16px;
                border-radius: 50%;
                margin-right: 5px;

            }
            a {
                font-size: 15px;
                color: $white;
                &:hover {
                    color: $crimson;

                }
            }
        }

    }
    .upperFooterRight {
        width: 222px;
        float: left;
        padding-top: 20px;
        h6 {
            color: $white;
            font-size: 17px;
            margin-bottom: 28px;
        }
        ul {
            list-style: none;
            margin-bottom: 10px;
        }
        li {
            line-height: 23px;
        }
        a {
            font-size: 15px;
            color: $dustyGray;
            text-decoration: none;
            margin-bottom: 6px;
            display: block;
            &:hover {
                color: $crimson;

            }
        }

    }
}

#lowerFooter {
    background: $crimson;
    color: $white;
    text-align: center;
    line-height: 42px;
    a {
        font-size: 15px;
        color: $white;
        text-decoration: none;

        &:hover {
            color: $black;
        }
    }

}