/* ======= HEADER ======= */
#header {
    height: 113px;
    overflow: hidden;
    line-height: 70px;
    padding-top: 16px;
	.container {
        width: 1237px;
    }
    h1{
        width: 158px;
        height: auto;
        a {
            float: left;
            width: 158px;
            height: 81px;
            background: url("../images/header-logo.png") no-repeat;
            background-size: 158px 81px;
            text-indent: -9000px;
        }
    }
}
#maneNave {
    float: right;
    width: 1015px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {

            a {
                padding: 0 13px 0 13px;
                color: $black;
                font-size: 18px;
                text-decoration: none;
                display: block;
                float: left;
                &:hover {
                    color: $black;
                    background: red;

                }
            }
        }

    }
}
