/* ======= HEADER ======= */
#header {
    height: 113px;
    line-height: 70px;
    padding-top: 16px;
    .container {
        width: 1237px;
    }
    h1 {
        width: 158px;
        height: auto;
        a {
            float: left;
            width: 158px;
            height: 81px;
            background: url("../images/header-logo.png") no-repeat;
            background-size: 158px 81px;
            text-indent: -9000px;
        }
    }
}

#maneNave {
    float: right;
    width: 1015px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        .menu-item-has-children {
            position: relative;
            a {
                padding: 0 13px;
                &:hover{

                }
            }
        }
        .menu-item-has-children::before {
            content: "\f0d7";
            right: 0;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            display: inline-block;

        }
        li {
            position: relative;
            display: inline-block;
            &::before {
                content: "";
                right: 0;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                display: inline-block;
            }
            a {
                padding: 0 13px 0 13px;
                color: $black;
                font-size: 18px;
                text-decoration: none;
                display: block;
                float: left;
                &:hover {
                    color: red;

                }

            }
            &:hover {
                > a {

                }
                > ul {
                    display: block;
                }
            }
            ul {
                position: absolute;
                top: 60px;
                left: 0;
                z-index: 1000;
                background: red;
                line-height: 5px;
                display: none;
                li {
                    border-bottom: 1px solid $black;
                    width: 201px;
                    a {
                        line-height: 40px;
                        width: 201px;
                        float: none;
                        color: #ffffff;
                        &:hover {
                            color: #ffffff;
                        }

                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: 100%;
                }
            }
        }

    }
}
