

#officeTabs {
    padding:  30px 0 0;
    text-align: center;
.tabWrap {
     background: white; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(90deg, $white, $alabaster); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, $white, $alabaster); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, $white, $alabaster); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, $white, $alabaster); /* Standard syntax (must be last) */
    ul {
        background: $white;
    }

    .offWrap {
        display: flex;
        address {
            padding: 53px 16px;
            font-size: 18px;
            line-height: 30px;
            text-align:left;
            font-style: normal;
            flex:1;
            a {
                text-decoration: none;
                color: $black;
                &:hover {
                    color: $crimson;
                }
            }


            &:nth-child(even) {
                background: $alabaster;
            }

            &:nth-child(1) {
                position: relative;
                padding-left: 56px;
                &:before {
                    background: $crimson;
                    width: 40px;
                    height: 40px;
                    color: $white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 23px;
                    font-family: 'FontAwesome';
                    content: '\f041';
                    position: absolute;
                    left: 0;
                    
                }
            }
             &:nth-child(2) {
                position: relative;
                padding-left: 56px;
                text-align:center;
                &:before {
                    background: $crimson;
                    width: 40px;
                    height: 40px;
                    color: $white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 23px;
                    font-family: 'FontAwesome';
                    content: '\f095';
                    position: absolute;
                    left: 29px;
                    
                }
             }
                &:nth-child(3) {
                position: relative;
                padding-left: 56px;
                text-align:center;
                background: $white;
                &:before {
                    background: $crimson;
                    width: 40px;
                    height: 40px;
                    color: $white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 23px;
                    font-family: 'FontAwesome';
                    content: '\f1ac';
                    position: absolute;
                    left: 29px;
                    
                  }
                }
                &:nth-child(4) {
                position: relative;
                padding-left: 56px;
                text-align:center;
                &:before {
                    background: $crimson;
                    width: 40px;
                    height: 40px;
                    color: $white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 23px;
                    font-family: 'FontAwesome';
                    content: '\f0e0 ';
                    position: absolute;
                    left: 12px;
                    
                  }
                }
            }
        }

    }

}
