

#officeTabs {
    padding:  30px 0 0;
    text-align: center;

    .offWrap {
        display: flex;
        address {
            padding: 53px 16px;
            font-size: 18px;
            line-height: 30px;
            text-align:left;
            font-style: normal;
            flex:1;


            &:nth-child(even) {
                background: $alabaster;
            }

            &:nth-child(1) {
                position: relative;
                padding-left: 56px;
                &:before {
                    background: $crimson;
                    width: 40px;
                    height: 40px;
                    color: $white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 23px;
                    font-family: 'FontAwesome';
                    content: '\f041';
                    position: absolute;
                    left: 0;
                    
                }
            }
             &:nth-child(2) {
                position: relative;
                padding-left: 56px;
                &:before {
                    background: $crimson;
                    width: 40px;
                    height: 40px;
                    color: $white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    font-size: 23px;
                    font-family: 'FontAwesome';
                    content: '\f095';
                    position: absolute;
                    left: 0;
                    
                }
            }
        }

    }
}
