// topBar
#topBar{
    line-height: 41px;
    background: $crimson;
    color: $white;
    font-size: 13px;
    .container{
        text-align: right;
    }
    a{
        text-decoration: none;
        color: $white;
        font-size: 13px;
        &:hover {
            color: $black;
        }
    }
}