

#productDetail {
    .productTab{
        background: $white;
            border:2px solid $alto;
            padding:15px 20px 0;
            position: relative;
            margin-bottom: 10px;
        li {
            .productContent{
                display: none;
                padding: 25px 0 0;
            }
            &.activePro:before {
                content: '\f107';
                font-family: FontAwesome;
                position: absolute;
                right: 22px;
                
            }
             &:before {
                        content: '\f105';
                        font-family: FontAwesome;
                        position: absolute;
                        right: 22px;
                    
                }
        }
    }
}