@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/HelveticaLTStd-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HelveticaLTStd-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/HelveticaLTStd-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/HelveticaLTStd-Light.otf')  format('opentype'), /* Safari, Android, iOS */
    url('../fonts/HelveticaLTStd-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body {
    font-family: 'Helvetica-Light', Arial, sans-serif;
}