// Brand Colors
$crimson: #ed1c24;
$white: #ffffff;
$black: #000000;
$alabaster: #faf9f9;
$codGray: #121212;
$dustyGray: #999999;
$gallery: #ededed;
$silver: #c4c4c4;
$alto: #dadada;
$desertStorm: #f8f8f6;

// Variables
